<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{32,33}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{32,33}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,36},{39,37}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{39,37}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,36},{37,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{37,46}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{51,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{51,46}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{51,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{51,46}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{27,28}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{27,27}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{30,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{27,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{27,52}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,69},{48,57}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{48,57}}</string>
                <key>sourceSize</key>
                <string>{58,95}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{33,77}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{33,77}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,75},{64,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{64,49}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,75},{66,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{66,49}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,34},{41,33}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{41,33}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,35},{39,37}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{39,37}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{31,37}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{31,37}}</string>
                <key>sourceSize</key>
                <string>{41,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>darknight.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044fe8ecd60238ff9bb44a5aa88abc69$</string>
            <key>textureFileName</key>
            <string>darknight.png</string>
        </dict>
    </dict>
</plist>
